<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Internal SNS : our</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag webpack_bundle_path('user'), defer: 'defer' %>
  <%# <%= javascript_include_tag 'user', defer: 'defer' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.7.95/css/materialdesignicons.min.css">
</head>

<body class="<%= body_classes %>">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header id="header">
    <navbar></navbar>
  </header>

  <div class="columns is-gapless are-fixed-contents">
    <div class="column is-2">
      <aside id="sidemenu">
        <sidemenu></sidemenu>
      </aside>
    </div>
    <div class="column main-contents">
      <%= yield %>
    </div>
  </div>

  <div id="our-tools">
    <our-tools></our-tools>
  </div>

</body>
</html>

<%# <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base <%= body_classes.join(' ') %1>"> %>

<%#     <div id="flash-notifications"> %>
<%#     <% [:notice, :error, :alert].each do |t| %>
<%#       unless flash[t].nil? %>
<%#         concat render partial: 'shared/flash_notification', locals: { message: flash[t], type: t } %>
<%#       end %>
<%#     end %1> %>
<%#     </div> %>

<%# </body> %>
