
<div class="column">
<h2 class="column is-offset-one-quarter title is-2 has-text-info">Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "column is-offset-one-quarter" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input column is-half is-offset-one-quarter" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "column is-offset-one-quarter" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input column is-half is-offset-one-quarter" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field column is-offset-one-quarter">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "button is-link is-rounded column is-half is-offset-one-quarter" %>
  </div>
<% end %>

<%# <%= render "devise/shared/links" %> 
<div>
